@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    overflow-x: hidden;
}
body{
    background-color: #010326;

}
main{
    border-top: 0.1px solid #497CBF;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    height: 500px;
}
footer{
    border-top: 0.4px solid #ffff;
}

/* CONTEÚDO REFERENTE AO CABEÇALHO */

.corpo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #28292C;
    box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.555);
}
.logo{
    font-family: 'Monoton', cursive;
    font-weight: bolder;
}
.logo a{
    color: #497CBF;
}

.menu{
    height: 70px;
    background-color: #28292C; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.menu a{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-top: -2px;
    padding: 25px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #28292C;
    color: #fff;
    text-align: center;
}
.menu a:hover{
    background-color: #497CBF;
    color: #023E73;
}
.menu ul{
    display: flex;
    align-items: center;
    flex-direction: row; 
    gap: 20px; 
}
.menu ul li{
    width: 150px;
    float: left;
}
.menu ul ul{
    visibility: hidden;
    position: absolute;
}
.menu ul ul li a{
    background-color: #069;
    border: 0.2px solid #ffff;
}
.menu ul li:hover ul{
    visibility: visible;
    display: block;  
}
.menu ul ul li{
    float: none;
}
.login{
    display: contents;
    flex-direction: row;
    align-items: center;
    margin-left: -30px;
    font-family: 'Roboto', sans-serif;
}
.login a{
    margin-left: -55px;
    color: #ffff;  
}

/* CONTEÚDO REFERENTE AO CORPO */

.conteudo-1{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.conteudo-h1{
    padding: 15px;
    font-family: 'Monoton', cursive;
    font-weight: bolder;
    color: aqua;
}
.conteudo-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    gap: 100px;
}
.conteudo-p{
    width: 600px;
    margin-left: 100px;
    text-align: justify;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#pp{
    
}
#bt{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-weight: 500;
    margin-top: 15px;
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #28292C;
    border-radius: 5px;
    transition-duration: 0.8s;
    
}
#bt a{
    color: #ffff;
    font-size: large;
}
#bt:hover{
    background-color: #497CBF;
    border-radius: 5px;
}
.conteudo-video{
    border: none;
    margin: 20px;
}

/* CONTEÚDO REFERENTE AO RODAPE */

.rodape{
    margin: 0;
    height: 90px;
    width: 100%;
    background-color: #222;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; 
}
.rodape a{
    color: #497CBF;
}

#rodape-li{
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    font-weight: 100;
    padding-top: 10px;
    color: #fff;
}
.media-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    gap: 15px;
}


    
